html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212a2f;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}
.section {
  padding: 120px 0 0;
}
.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
  text-align: center;
}
.button-light {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 5px 13px;
  border-radius: 2px;
  color: #212a2f;
  background: #ffffff;
  border: 2px solid #fff;
  &:hover {
    border: 2px solid #212a2f;
    background: #212a2f;
    color: #fff;
  }
  &:active {
    border: 2px solid #fff;
  }
}
.button-dark {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 5px 13px;
  border-radius: 2px;
  color: #fff;
  background: #212a2f;
  border: 2px solid #212a2f;
  &:hover {
    border: 2px solid #212a2f;
    background: #fff;
    color: #212a2f;
  }
  &:active {
    border: 2px solid #212a2f;
  }
}
.profile {
  position: relative;
  &::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 19px;
    height: 23px;
    background: url("../images/profile-icon.svg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.question {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/question-icon.svg") no-repeat;
  background-size: cover;
  background-position: center;
}
.cart {
  content: "";
  display: block;
  width: 33px;
  height: 28px;
  background: url("../images/cart-icon.svg") no-repeat;
  background-size: cover;
  background-position: center;
}
.flag-jp {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 37px;
    height: 22px;
    background: url("../images/footer-flag-1.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.flag-sk {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 37px;
    height: 22px;
    background: url("../images/footer-flag-2.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}
