.title-screen {
  position: relative;
  padding-top: 60px;
  height: 100vh;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  padding: 11px 32px 11px 27px;
  &__wrapper {
    margin: 0;
  }
}
.menu-list {
  width: 100%;
  &__item {
    margin-left: 37px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    position: relative;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  &__button {
    margin-left: 18px;
  }
  &__cart-counter {
    position: absolute;
    right: 8px;
    bottom: 9px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
}
.menu-button {
  width: 50px;
  height: 16px;
  padding-right: 0;
  &__line {
    height: 2px;
    width: 100%;
    background-color: #000;
    border-radius: 15%;
  }
}
.logo {
  &__img {
    width: 120px;
    height: 38px;
    object-fit: contain;
  }
}
