.slogan {
  &__img {
    max-width: 100%;
    background: #4d5559;
    margin-bottom: 52px;
  }
  &__title {
    margin-bottom: 54px;
  }
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #212a2f;
    margin-bottom: 30px;
  }
  &__button {
    width: 180px;
    margin: 0 auto;
    &:first-child {
      margin-right: 24px;
    }
  }
  &__button-text {
    margin: 0 auto;
    word-break: break-all;
  }
}
.second-slogan {
  &__title {
    margin-bottom: 26px;
  }
  &__text {
    max-width: 655px;
    font-weight: 400;
    margin-bottom: 22px;
  }
  &__button {
    width: 384px;
    margin: 0 auto;
  }
}
.third-slogan {
  &__title {
    max-width: 655px;
    margin-bottom: 16px;
  }
  &__text {
    max-width: 655px;
    font-weight: 400;
    margin-bottom: 26px;
  }
  &__button {
    width: 384px;
    margin: 0 auto;
  }
}
